---
---

@import "normalize";

body {
    margin: 0;
    padding: 0;
}

/**
 * Layout
 */

.readme {
  margin: 1em;
}

nav {
  display: none;
}

#fork img {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  border: 0;
  width: 149px;
  height: 149px;
}

@media only screen and (min-device-width: 736px) and (min-width: 1000px) {
  .readme {
    width: 650px;
    margin: 3em;
    margin-left: 18rem;
    padding: 2rem;
  }

  /* existing toc */
  h1 + ul {
    display: none;
  }

  nav {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: .95rem;

    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 2em 0 0 0;
    width: 17rem;
    height: 100%;
    overflow: auto;
    background-color: #2d2d2d;

    ul {
      margin: 0;
      padding: 0;
    }
  
    li {
      list-style-type: none;
      padding: .3rem 0 .2rem 0;

      &.active {
        background-color: white;
        > a, > a:visited {
          color: black;
        }
      }
    }

    a, a:visited {
      color: #eee;
      text-shadow: none;
      text-decoration: none;
      background: none;
    }
  
    > ul > li {
      > a {
        display: block;
        margin: 0 .5rem 0 .5rem;
      }
      > ul {
        background-color: #2d2d2d;

        > li {
          margin-bottom: -.2rem;

          > a {
            display: block;
            margin: 0 .5rem 0 2rem;
          }
        }
      }
    }
  }
}

/**
 * Typography
 */

.readme {
  &, p {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;  
  }

  pre,
  code {
    font-family: 'Roboto Mono', monospace;
  }

  ::selection {
    background: #DEE7FF;
  }
  ::-moz-selection {
    background: #DEE7FF;
  }

  > :first-child {
    margin-top: 0;
  }
}

/**
 * Headers
 */
.readme {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    line-height: 1.2em;
    color: #34363B;
    position: relative;
  }

  > h1:first-child,
  hr + h1:not(:first-child) {
    font-size: 2.5rem;
    border-bottom: 0;
    padding-bottom: 0;
  }

  > h1:not(:first-child),
  > h2 {
    font-size: 2rem;
    margin-top: 3rem;
    border-bottom: 1px dotted #DEE7FF;
    padding-bottom: 0.4em;
  }

  h3 {
    font-weight: 400;
    margin-top: 2em;
    color: #4A4F5E;
  }

  h3 + h3,
  h4 + h4 {
    margin-top: -0.5em;
  }

  h2 + h3 {
    margin-top: 0;
  }
}

/**
 * Paragraphs
 */

.readme {
  p, > ul, > ol {
    line-height: 1.6em;
  }

  blockquote {
    border-left: .3em solid #dddddd;
    margin: 0;
    padding: 0 0 0 .8em;
    font-style: italic;
  }
}

/**
 * Links
 */

.readme a {
  color: #4078c0;
  text-decoration: none;

  :hover, :active {
    text-decoration: underline;
  }

  img {
    border: 0 none;
  }
}

/**
 * Horizontal Rules
 */

.readme hr {
  width: 8px; height: 8px;
  background: transparent;
  border: 1px solid #A9B0C2;
  border-radius: 17px;
  margin: 4rem auto;
  position: relative;

  :before, :after {
    position: absolute;
    top: 1px;
    left: -24px;
    width: 4px; height: 4px;
    background: transparent;
    content: '';
    border-radius: 9px;
    border: 1px solid #A9B0C2;
  }

  :after {
    left: auto;
    right: -24px;
  }
}

/**
 * Lists
 */

.readme ul, .readme ol {
  list-style-type: none;
  margin: 1rem;
  padding-left: 0;

  li {
    margin-bottom: 0.2em;
    position: relative;
  }

  li > :first-child {
    margin-top: 0;
  }

  > li:not(.no-bullet):before {
    content: '*';
    color: #A9B0C2;
    position: absolute;
    left: -1rem;
  }

  > li.no-bullet {
    margin-left: -1rem;
  }

  ul, ol {
    padding-left: 1rem;
    margin: 0;
  }
}

/*
 * Table
 */
 
.readme table {
  border-spacing: 0;
  border-collapse: collapse;

  > tbody, > tfoot, > thead {
    > tr {
      > th, > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
      }
    }
  }
 
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
  }

  > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
  }
}


/*
 * Images
 */

.readme p img {
  max-width: 100%;
}

/*
 * Code highlighting
 *
 * generated by rouge http://rouge.jneen.net/
 * original base16 by Chris Kempson (https://github.com/chriskempson/base16)
 */

.readme {
  code {
    color:#efefef;
    font-size:13px;
    margin: 0 4px;
    padding: 4px 6px;
    border-radius: 2px;
  }

  pre {
    padding:8px 15px;
    background: #191919;
    border-radius: 2px;
    border:1px solid #121212;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
    overflow: auto;
    overflow-y: hidden;

    code {
      color: #efefef;
      text-shadow: 0px 1px 0px #000;
      margin: 0;
      padding: 0;
    }
  }

  .highlight table td { padding: 5px; }
  .highlight table pre { margin: 0; }
  .highlight, .highlight .w {
    color: #d0d0d0;
  }
  .highlight .err {
    color: #151515;
    background-color: #ac4142;
  }
  .highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
    color: #888;
  }
  .highlight .cp {
    color: #f4bf75;
  }
  .highlight .nt {
    color: #f4bf75;
  }
  .highlight .o, .highlight .ow {
    color: #d0d0d0;
  }
  .highlight .p, .highlight .pi {
    color: #d0d0d0;
  }
  .highlight .gi {
    color: #90a959;
  }
  .highlight .gd {
    color: #ac4142;
  }
  .highlight .gh {
    color: #6a9fb5;
    font-weight: bold;
  }
  .highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
    color: #aa759f;
  }
  .highlight .kc {
    color: #d28445;
  }
  .highlight .kt {
    color: #d28445;
  }
  .highlight .kd {
    color: #d28445;
  }
  .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
    color: #90a959;
  }
  .highlight .sr {
    color: #75b5aa;
  }
  .highlight .si {
    color: #8f5536;
  }
  .highlight .se {
    color: #8f5536;
  }
  .highlight .nn {
    color: #f4bf75;
  }
  .highlight .nc {
    color: #f4bf75;
  }
  .highlight .no {
    color: #f4bf75;
  }
  .highlight .na {
    color: #6a9fb5;
  }
  .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
    color: #90a959;
  }
  .highlight .ss {
    color: #90a959;
  }
}
